* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* This make the 1rem = 10px */
}

:root {
  --react-logo-color: hsl(187deg 100% 49%);
  --background-color: hsl(212deg 19% 16%);
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main_div {
  width: 30rem;
  height: 10rem;
  background-color: transparent;
  border: 1rem solid var(--react-logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main_div::after {
  content: "";
  position: absolute;
  width: 30rem;
  height: 10rem;
  background-color: transparent;
  border: 1rem solid var(--react-logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(60deg);
}

.main_div::before {
  content: "";
  position: absolute;
  width: 30rem;
  height: 10rem;
  background-color: transparent;
  border: 1rem solid var(--react-logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(120deg);
}

.center_circle {
  width: 5rem;
  height: 5rem;
  background-color: var(--react-logo-color);
  border-radius: 50%;
}
